.custom-input {
  background-color: var(--theme);
  color: var(--white);
  border: 2px solid var(--purple-grey);
  border-radius: 0.35rem;
  padding: 1rem;
  font-size: 1rem;
  width: 70vw;
  font-weight: 500;
  margin: 1rem;
}

.custom-input:focus {
  outline: none;
  border-color: var(--white);
}

.custom-input::placeholder {
  color: var(--purple-grey);
}

.label-input {
  color: var(--purple-grey);
}

.active {
  border-color: var(--white);
}
